extends layout

block content
  h1 Создание #{role === 'elf' ? 'эльфа' : 'гнома'}
  form.pure-form.pure-form-stacked(action="/users/create", method="post")
    fieldset
      legend Данные #{role === 'elf' ? 'эльфа' : 'гнома'}
      div
        label(for="login") Логин:
        input#login(type="text", name="login", required)
      div
        label(for="password") Пароль:
        input#password(type="password", name="password", required)
      div
        label(for="name") Имя:
        input#name(type="text", name="name", required)
      if role === 'gnome'
        div
          label.pure-checkbox(for="master")
            input#master(type="checkbox", name="master")
            | 
            |Мастер
      input(type="hidden", name="role" value=role)
    div
      input.pure-button(type="submit", value="Создать")
      | 
      a.pure-button(href="/users") Отменить
