extends layout

block content
  h1 Создание #{role === 'elf' ? 'эльфа' : 'гнома'}
  form(action="/users/create", method="post")
    fieldset
      legend Данные #{role === 'elf' ? 'эльфа' : 'гнома'}
      p
        label(for="login") Логин:
        br
        input#login(type="text", name="login", required)
      p
        label(for="password") Пароль:
        br
        input#password(type="password", name="password", required)
      p
        label(for="name") Имя:
        br
        input#name(type="text", name="name", required)
      if role === 'gnome'
        p
          label(for="master") Мастер:
          input#master(type="checkbox", name="master")
      input(type="hidden", name="role" value=role)
    p
      input(type="submit", value="Создать")
      | 
      a(href="/users") Отменить
