extends layout

block content
  h1 Редактирование вида драгоценности
  form(action="/gemtypes/" + gemType._id + "/edit", method="post")
    fieldset
      p
        label(for="name") Имя
        br
        input#name(type="text", name="name" value=gemType.name, required)
      p
        label(for="deleted") Удален 
        input#deleted(type="checkbox", name="deleted" checked=gemType.deleted)
      p
        input(type="submit", value="Изменить")
        input(type="hidden", name="ref", value=ref)
        | 
        a(href=ref) Отменить
