extends layout

block content
  h1 Редактирование вида драгоценности
  form.pure-form.pure-form-aligned(action="/gemtypes/" + gemType._id + "/edit", method="post")
    fieldset
      div.pure-control-group
        label(for="name") Имя
        input#name(type="text", name="name" value=gemType.name, required)
      div.pure-control-group
        label(for="deleted") Удален 
        input#deleted(type="checkbox", name="deleted" checked=gemType.deleted)
      input.pure-button(type="submit", value="Изменить")
      input(type="hidden", name="ref", value=ref)
      | 
      a.pure-button(href=ref) Отменить
