extends layout

block content
  nav
    div.nav-wrapper
      a.brand-logo(href="/") Драгострана
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href="/users") Пользователи
        if user.master
          li
            a(href="/settings") Настройки
        if user.role === 'gnome'
          li
            a(href="/gems") Драгоценности
          li
            a(href="/gems/add") Добавить
        li
          a(href="/logout") Выйти
  div.container
    block pageContent