extends layout

block content
  div.pure-menu.pure-menu-horizontal
    a.pure-menu-heading.pure-menu-link(href="/") Главная
    ul.pure-menu-list
    li.pure-menu-item
      a.pure-menu-link(href="/users") Пользователи
    if user.master
      li.pure-menu-item
        a.pure-menu-link(href="/settings") Настройки
    if user.role === 'gnome'
      li.pure-menu-item
        a.pure-menu-link(href="/gems") Драгоценности
      li.pure-menu-item
        a.pure-menu-link(href="/gems/add") Добавить
    li.pure-menu-item
      a.pure-menu-link(href="/logout") Выйти
  block pageContent