extends layout

block content
  h1 Первоначальная настройка
  form.pure-form.pure-form-stacked(action="/init", method="post")
    fieldset
      legend Мастер-гном системы
      div
          label(for="login") Логин:
          input#login(type="text", name="login", value="master")
      div
        label(for="password") Пароль:
        input#password(type="password", name="password")
      div
        label(for="name") Имя:
        input#name(type="text", name="name")
    div
      input.pure-button(type="submit", value="Сохранить")
