extends layout

block content
  h1 Первоначальная настройка
  form(action="/init", method="post")
    fieldset
      legend Мастер-гном системы
      p
          label(for="login") Логин:
          br
          input#login(type="text", name="login", value="master")
      p
        label(for="password") Пароль:
        br
        input#password(type="password", name="password")
      p
        label(for="name") Имя:
        br
        input#name(type="text", name="name")
    p
      input(type="submit", value="Сохранить")
