doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/grids-responsive-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
