extends layout

block content
  h1 Вход
  form.pure-form.pure-form-stacked(action=url, method="post")
    fieldset
      legend Пользователь
      div
        label(for="login") Логин:
        input#login(type="text", name="login", required)
      div
        label(for="password") Пароль:
        input#password(type="password", name="password", required)
    div
      input.pure-button(type="submit", value="Войти")
