extends layout

mixin preference(preference)
  p
    - const favGemTypeId = preference && preference.gemType._id.toString()
    select#gemtype(name="gemtype", required)
      option(value="") Выберите драгоценность
      each gemType in gemTypes
        - const gemTypeId = gemType._id.toString();
        - const selected = gemTypeId === favGemTypeId ? true : false
        option(value=gemType._id, selected=selected)= gemType.name
    | 
    - const priority = preference && preference.priority
    input#priority(type="number", name="priority" min="1" max="10", value=priority, required)
    if preference
      | 
      label.pure-checkbox(for="deleted")
        input(type="checkbox", name='deleted[' + favGemTypeId + ']', value="on")
        | 
        |Удалить 

block content
  h1 Редактирование предпочтений
  form.pure-form(action="/users/" + id + "/preferences/add", method="post")
    fieldset
      legend Предпочтения
      if user.favorites !== undefined
        each fav in user.favorites
          +preference(fav)
      - for (let n = 0; n < number; n++)
        +preference
    input.pure-button(type="submit", value="Изменить")
    | 
    a.pure-button(href="/users/" + id) Отменить
